# [ 4-1. 엑셀데이터 DB에 INSERT하기 ]

## 1. 엑셀파일 읽기 기초
### 1-1. openpyxl 라이브러리
* openpyxl 라이브러리는 파이썬에서 엑셀 파일을 다루는 데 사용되는 라이브러리로, 엑셀 파일을 열고, 수정하고, 저장할 수 있습니다.

* 아니콘다 네비게이터 - Environments에서 설치 가능합니다.

### 1-2. 엑셀 파일 데이터 읽어오기
* openpyxl 라이브러리의 load_workbook 모듈을 사용하여 데이터를 읽어들일 수 있습니다.

* 기존 사용했던 샘플 파일 'excel_data.xlsx' 파일을 복사하여 현재 폴더에 저장한 후 라이브러시 사용 예시를 들어보겠습니다.

In [1]:
from openpyxl import load_workbook

# 엑셀 파일 열기
workbook = load_workbook('excel_data.xlsx')

# 데이터가 있는 Sheet 선택
sheet = workbook['Sheet']

# 엑셀 파일의 각 행을 출력
for row in sheet.iter_rows(values_only=True):
    print(row)

('Name', 'Age', 'Gender')
('John', 25, 'male')
('Emily', 30, 'female')
('Michael', 35, 'male')
('Celine', 24, 'female')
('David', 27, 'male')

## 2. 엑셀 파일 데이터를 읽어서 데이터베이스에 입력하기

### 2-1. 엑셀 파일 데이터 읽어오기
#### 2-1-1. openpyxl을 이용한 데이터 로딩

In [5]:
from openpyxl import load_workbook
import pandas as pd

workbook = load_workbook('FCHotel_cashflow_mar.xlsx')
sheet = workbook['Sheet1']

# 첫번째 행(컬럼 이름) 가져오기 
columns = [
    cell.value for cell 
    in next(sheet.iter_rows(min_row=1, max_row=1))
]

# 데이터를 딕셔너리 리스트로 변환 
data = [] 
for row in sheet.iter_rows(min_row=2):
    record = {
        columns[i]: cell.value 
        for i, cell in enumerate(row)
    } 
    data.append(record)

# 딕셔너리 리스트를 DataFrame으로 변환 
df = pd.DataFrame(data)

In [6]:
df

   account_id    dw_date category  client   deposit  withdrawal description
0    shhn4567 2024-03-02     이자수입    신한은행   4246575           0     정기예금 이자
1    hana1234 2024-03-01     객실수입   호텔스닷컴  40000000           0       객실 매출
2    hana1234 2024-03-02     객실수입    호텔스넷  29000000           0       객실 매출
3    hana1234 2024-03-03     객실수입   호텔스닷컴  40000000           0       객실 매출
4    hana1234 2024-03-04     객실수입    호텔스넷  30000000           0       객실 매출
5    hana1234 2024-03-05     객실수입   호텔스닷컴  40000000           0       객실 매출
6    hana1234 2024-03-06     객실수입    호텔스넷  27000000           0       객실 매출
7    hana1234 2024-03-07     객실수입   호텔스닷컴  34000000           0       객실 매출
8    hana1234 2024-03-08     객실수입    호텔스넷  31000000           0       객실 매출
9    hana1234 2024-03-09     객실수입   호텔스닷컴  28000000           0       객실 매출
10   hana1234 2024-03-10     객실수입    호텔스넷  20000000           0       객실 매출
11   hana1234 2024-03-11     객실수입   호텔스닷컴  39000000           0       객실 매출
12   hana1234 2024-03-12     객실수입    호텔스넷  34000000           0       객실 매출
13   hana1234 2024-03-13     객실수입   호텔스닷컴  36000000           0       객실 매출
14   hana1234 2024-03-14     객실수입    호텔스넷  40000000           0       객실 매출
15   hana1234 2024-03-15     객실수입   호텔스닷컴  31000000           0       객실 매출
16   hana1234 2024-03-16     객실수입    호텔스넷  25000000           0       객실 매출
17   hana1234 2024-03-17     객실수입   호텔스닷컴  28000000           0       객실 매출
18   hana1234 2024-03-18     객실수입    호텔스넷  40000000           0       객실 매출
19   hana1234 2024-03-19     객실수입   호텔스닷컴  38000000           0       객실 매출
20   hana1234 2024-03-20     객실수입    호텔스넷  32000000           0       객실 매출
21   hana1234 2024-03-21     객실수입   호텔스닷컴  28000000           0       객실 매출
22   hana1234 2024-03-22     객실수입    호텔스넷  24000000           0       객실 매출
23   hana1234 2024-03-23     객실수입   호텔스닷컴  26000000           0       객실 매출
24   hana1234 2024-03-24     객실수입    호텔스넷  32000000           0       객실 매출
25   hana1234 2024-03-25     객실수입   호텔스닷컴  40000000           0       객실 매출
26   hana1234 2024-03-26     객실수입    호텔스넷  20000000           0       객실 매출
27   hana1234 2024-03-27     객실수입   호텔스닷컴  28000000           0       객실 매출
28   hana1234 2024-03-28     객실수입    호텔스넷  28000000           0       객실 매출
29   hana1234 2024-03-29     객실수입   호텔스닷컴  25000000           0       객실 매출
30   hana1234 2024-03-30     객실수입   호텔스닷컴  28000000           0       객실 매출
31   hana1234 2024-03-31     객실수입   호텔스닷컴  35000000           0       객실 매출
32   hana4321 2024-03-21       급여   종업원급여         0   180000000       종업원급여
33   hana4321 2024-03-07    판매수수료    호텔스넷         0     4300000     객실판매수수료
34   hana4321 2024-03-13    판매수수료    호텔스넷         0     4250000     객실판매수수료
35   hana4321 2024-03-19    판매수수료    호텔스넷         0     5250000     객실판매수수료
36   hana4321 2024-03-25    판매수수료    호텔스넷         0     4400000     객실판매수수료
37   hana4321 2024-03-29    판매수수료    호텔스넷         0     2400000     객실판매수수료
38   hana4321 2024-03-07    판매수수료   호텔스닷컴         0     7700000     객실판매수수료
39   hana4321 2024-03-13    판매수수료   호텔스닷컴         0     5150000     객실판매수수료
40   hana4321 2024-03-19    판매수수료   호텔스닷컴         0     4850000     객실판매수수료
41   hana4321 2024-03-25    판매수수료   호텔스닷컴         0     4700000     객실판매수수료
42   hana4321 2024-03-29    판매수수료   호텔스닷컴         0     2650000     객실판매수수료
43   hana4321 2024-03-03    고객용품비  ABC용품사         0    10900000    고객용품비 지출
44   hana4321 2024-03-10    고객용품비  ABC용품사         0    21000000    고객용품비 지출
45   hana4321 2024-03-17    고객용품비  ABC용품사         0    23300000    고객용품비 지출
46   hana4321 2024-03-24    고객용품비  ABC용품사         0    22000000    고객용품비 지출
47   hana4321 2024-03-29    고객용품비  ABC용품사         0    14100000    고객용품비 지출
48   hana4321 2024-03-19    수도광열비   수도광열비         0    48800000     수도광열비 등
49   hana4321 2024-03-24    노무용역비   노무용역사         0   195200000       노무용역비
50   hana4321 2024-03-10    세금과공과   세금과공과         0    97600000       세금과공과
51   hana4321 2024-03-03   기타영업비용      A사         0    19000000       영업비용A
52   hana4321 2024-03-10   기타영업비용      B사         0    24000000       영업비용B
53   hana4321 2024-03-17   기타영업비용      A사         0    19000000       영업비용C
54   hana4321 2024-03-24   기타영업비용      C사         0    16000000       영업비용D
55   hana4321 2024-03-29   기타영업비용      C사         0    16000000       영업비용E

#### 2-1-2. 엑셀파일 읽는 방법 ChatGPT에 질의하기
![openpyxl 질의](./image/openpyxl_엑셀데이터읽기1.png)

![openpyxl 질의](./image/openpyxl_엑셀데이터읽기2.png)

![openpyxl 질의](./image/openpyxl_엑셀데이터읽기3.png)

#### 2-1-3. pandas 라이브러리를 이용하여 엑셀파일 로딩하기

In [7]:
df = pd.read_excel('FCHotel_cashflow_mar.xlsx')

In [8]:
df

   account_id    dw_date category  client   deposit  withdrawal description
0    shhn4567 2024-03-02     이자수입    신한은행   4246575           0     정기예금 이자
1    hana1234 2024-03-01     객실수입   호텔스닷컴  40000000           0       객실 매출
2    hana1234 2024-03-02     객실수입    호텔스넷  29000000           0       객실 매출
3    hana1234 2024-03-03     객실수입   호텔스닷컴  40000000           0       객실 매출
4    hana1234 2024-03-04     객실수입    호텔스넷  30000000           0       객실 매출
5    hana1234 2024-03-05     객실수입   호텔스닷컴  40000000           0       객실 매출
6    hana1234 2024-03-06     객실수입    호텔스넷  27000000           0       객실 매출
7    hana1234 2024-03-07     객실수입   호텔스닷컴  34000000           0       객실 매출
8    hana1234 2024-03-08     객실수입    호텔스넷  31000000           0       객실 매출
9    hana1234 2024-03-09     객실수입   호텔스닷컴  28000000           0       객실 매출
10   hana1234 2024-03-10     객실수입    호텔스넷  20000000           0       객실 매출
11   hana1234 2024-03-11     객실수입   호텔스닷컴  39000000           0       객실 매출
12   hana1234 2024-03-12     객실수입    호텔스넷  34000000           0       객실 매출
13   hana1234 2024-03-13     객실수입   호텔스닷컴  36000000           0       객실 매출
14   hana1234 2024-03-14     객실수입    호텔스넷  40000000           0       객실 매출
15   hana1234 2024-03-15     객실수입   호텔스닷컴  31000000           0       객실 매출
16   hana1234 2024-03-16     객실수입    호텔스넷  25000000           0       객실 매출
17   hana1234 2024-03-17     객실수입   호텔스닷컴  28000000           0       객실 매출
18   hana1234 2024-03-18     객실수입    호텔스넷  40000000           0       객실 매출
19   hana1234 2024-03-19     객실수입   호텔스닷컴  38000000           0       객실 매출
20   hana1234 2024-03-20     객실수입    호텔스넷  32000000           0       객실 매출
21   hana1234 2024-03-21     객실수입   호텔스닷컴  28000000           0       객실 매출
22   hana1234 2024-03-22     객실수입    호텔스넷  24000000           0       객실 매출
23   hana1234 2024-03-23     객실수입   호텔스닷컴  26000000           0       객실 매출
24   hana1234 2024-03-24     객실수입    호텔스넷  32000000           0       객실 매출
25   hana1234 2024-03-25     객실수입   호텔스닷컴  40000000           0       객실 매출
26   hana1234 2024-03-26     객실수입    호텔스넷  20000000           0       객실 매출
27   hana1234 2024-03-27     객실수입   호텔스닷컴  28000000           0       객실 매출
28   hana1234 2024-03-28     객실수입    호텔스넷  28000000           0       객실 매출
29   hana1234 2024-03-29     객실수입   호텔스닷컴  25000000           0       객실 매출
30   hana1234 2024-03-30     객실수입   호텔스닷컴  28000000           0       객실 매출
31   hana1234 2024-03-31     객실수입   호텔스닷컴  35000000           0       객실 매출
32   hana4321 2024-03-21       급여   종업원급여         0   180000000       종업원급여
33   hana4321 2024-03-07    판매수수료    호텔스넷         0     4300000     객실판매수수료
34   hana4321 2024-03-13    판매수수료    호텔스넷         0     4250000     객실판매수수료
35   hana4321 2024-03-19    판매수수료    호텔스넷         0     5250000     객실판매수수료
36   hana4321 2024-03-25    판매수수료    호텔스넷         0     4400000     객실판매수수료
37   hana4321 2024-03-29    판매수수료    호텔스넷         0     2400000     객실판매수수료
38   hana4321 2024-03-07    판매수수료   호텔스닷컴         0     7700000     객실판매수수료
39   hana4321 2024-03-13    판매수수료   호텔스닷컴         0     5150000     객실판매수수료
40   hana4321 2024-03-19    판매수수료   호텔스닷컴         0     4850000     객실판매수수료
41   hana4321 2024-03-25    판매수수료   호텔스닷컴         0     4700000     객실판매수수료
42   hana4321 2024-03-29    판매수수료   호텔스닷컴         0     2650000     객실판매수수료
43   hana4321 2024-03-03    고객용품비  ABC용품사         0    10900000    고객용품비 지출
44   hana4321 2024-03-10    고객용품비  ABC용품사         0    21000000    고객용품비 지출
45   hana4321 2024-03-17    고객용품비  ABC용품사         0    23300000    고객용품비 지출
46   hana4321 2024-03-24    고객용품비  ABC용품사         0    22000000    고객용품비 지출
47   hana4321 2024-03-29    고객용품비  ABC용품사         0    14100000    고객용품비 지출
48   hana4321 2024-03-19    수도광열비   수도광열비         0    48800000     수도광열비 등
49   hana4321 2024-03-24    노무용역비   노무용역사         0   195200000       노무용역비
50   hana4321 2024-03-10    세금과공과   세금과공과         0    97600000       세금과공과
51   hana4321 2024-03-03   기타영업비용      A사         0    19000000       영업비용A
52   hana4321 2024-03-10   기타영업비용      B사         0    24000000       영업비용B
53   hana4321 2024-03-17   기타영업비용      A사         0    19000000       영업비용C
54   hana4321 2024-03-24   기타영업비용      C사         0    16000000       영업비용D
55   hana4321 2024-03-29   기타영업비용      C사         0    16000000       영업비용E

![openpyxl 질의](./image/openpyxl_엑셀데이터읽기4.png)

![openpyxl 질의](./image/openpyxl_엑셀데이터읽기5.png)

![openpyxl 질의](./image/openpyxl_엑셀데이터읽기6.png)

### 2-2. 데이터베이스에 입력하기

In [14]:
from connector import Connector
with Connector() as conn:
    query = """
        INSERT INTO cashflow_tbl (
            account_id, dw_date, category, client, 
            deposit, withdrawal, description
        )						
        VALUES (%s, %s, %s, %s, %s, %s, %s);				
    """
    for index, row in df.iterrows():
        val = (
            row['account_id'], row['dw_date'], row['category'], 
            row['client'], row['deposit'], row['withdrawal'], 
            row['description']
        )
        conn.cursor.execute(query, val)
    # 변경사항 커밋
    conn.connection.commit()

In [ ]:
with Connector() as conn:
    query = """
        SELECT * FROM cashflow_tbl 
        WHERE dw_date BETWEEN '2024-03-01' AND '2024-03-31';
    """
    conn.cursor.execute(query)
    result = conn.cursor.fetchall()
    print(result)

[{'id': 167, 'account_id': 'shhn4567', 'dw_date': datetime.date(2024, 3, 2), 'category': '이자수입', 'client': '신한은행', 'deposit': 4246575, 'withdrawal': 0, 'description': '정기예금 이자', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 168, 'account_id': 'hana1234', 'dw_date': datetime.date(2024, 3, 1), 'category': '객실수입', 'client': '호텔스닷컴', 'deposit': 40000000, 'withdrawal': 0, 'description': '객실 매출', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 169, 'account_id': 'hana1234', 'dw_date': datetime.date(2024, 3, 2), 'category': '객실수입', 'client': '호텔스넷', 'deposit': 29000000, 'withdrawal': 0, 'description': '객실 매출', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 170, 'account_id': 'hana1234', 'dw_date': datetime.date(2024, 3, 3), 'category': '객실수입', 'client': '호텔스닷컴', 'deposit': 40000000, 'withdrawal': 0, 'description': '객실 매출', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 171, 'account_id': 'hana1234', 'dw_date': datetime.date(2024, 3, 4), 'category': '객실수입', 'client': '호텔스넷', 'deposit': 30000000, 'withdrawal': 0, 'description': '객실 매출', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 172, 'account_id': 'hana1234', 'dw_date': datetime.date(2024, 3, 5), 'category': '객실수입', 'client': '호텔스닷컴', 'deposit': 40000000, 'withdrawal': 0, 'description': '객실 매출', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 173, 'account_id': 'hana1234', 'dw_date': datetime.date(2024, 3, 6), 'category': '객실수입', 'client': '호텔스넷', 'deposit': 27000000, 'withdrawal': 0, 'description': '객실 매출', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 174, 'account_id': 'hana1234', 'dw_date': datetime.date(2024, 3, 7), 'category': '객실수입', 'client': '호텔스닷컴', 'deposit': 34000000, 'withdrawal': 0, 'description': '객실 매출', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 175, 'account_id': 'hana1234', 'dw_date': datetime.date(2024, 3, 8), 'category': '객실수입', 'client': '호텔스넷', 'deposit': 31000000, 'withdrawal': 0, 'description': '객실 매출', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 176, 'account_id': 'hana1234', 'dw_date': datetime.date(2024, 3, 9), 'category': '객실수입', 'client': '호텔스닷컴', 'deposit': 28000000, 'withdrawal': 0, 'description': '객실 매출', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 177, 'account_id': 'hana1234', 'dw_date': datetime.date(2024, 3, 10), 'category': '객실수입', 'client': '호텔스넷', 'deposit': 20000000, 'withdrawal': 0, 'description': '객실 매출', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 178, 'account_id': 'hana1234', 'dw_date': datetime.date(2024, 3, 11), 'category': '객실수입', 'client': '호텔스닷컴', 'deposit': 39000000, 'withdrawal': 0, 'description': '객실 매출', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 179, 'account_id': 'hana1234', 'dw_date': datetime.date(2024, 3, 12), 'category': '객실수입', 'client': '호텔스넷', 'deposit': 34000000, 'withdrawal': 0, 'description': '객실 매출', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 180, 'account_id': 'hana1234', 'dw_date': datetime.date(2024, 3, 13), 'category': '객실수입', 'client': '호텔스닷컴', 'deposit': 36000000, 'withdrawal': 0, 'description': '객실 매출', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 181, 'account_id': 'hana1234', 'dw_date': datetime.date(2024, 3, 14), 'category': '객실수입', 'client': '호텔스넷', 'deposit': 40000000, 'withdrawal': 0, 'description': '객실 매출', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 182, 'account_id': 'hana1234', 'dw_date': datetime.date(2024, 3, 15), 'category': '객실수입', 'client': '호텔스닷컴', 'deposit': 31000000, 'withdrawal': 0, 'description': '객실 매출', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 183, 'account_id': 'hana1234', 'dw_date': datetime.date(2024, 3, 16), 'category': '객실수입', 'client': '호텔스넷', 'deposit': 25000000, 'withdrawal': 0, 'description': '객실 매출', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 184, 'account_id': 'hana1234', 'dw_date': datetime.date(2024, 3, 17), 'category': '객실수입', 'client': '호텔스닷컴', 'deposit': 28000000, 'withdrawal': 0, 'description': '객실 매출', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 185, 'account_id': 'hana1234', 'dw_date': datetime.date(2024, 3, 18), 'category': '객실수입', 'client': '호텔스넷', 'deposit': 40000000, 'withdrawal': 0, 'description': '객실 매출', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 186, 'account_id': 'hana1234', 'dw_date': datetime.date(2024, 3, 19), 'category': '객실수입', 'client': '호텔스닷컴', 'deposit': 38000000, 'withdrawal': 0, 'description': '객실 매출', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 187, 'account_id': 'hana1234', 'dw_date': datetime.date(2024, 3, 20), 'category': '객실수입', 'client': '호텔스넷', 'deposit': 32000000, 'withdrawal': 0, 'description': '객실 매출', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 188, 'account_id': 'hana1234', 'dw_date': datetime.date(2024, 3, 21), 'category': '객실수입', 'client': '호텔스닷컴', 'deposit': 28000000, 'withdrawal': 0, 'description': '객실 매출', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 189, 'account_id': 'hana1234', 'dw_date': datetime.date(2024, 3, 22), 'category': '객실수입', 'client': '호텔스넷', 'deposit': 24000000, 'withdrawal': 0, 'description': '객실 매출', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 190, 'account_id': 'hana1234', 'dw_date': datetime.date(2024, 3, 23), 'category': '객실수입', 'client': '호텔스닷컴', 'deposit': 26000000, 'withdrawal': 0, 'description': '객실 매출', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 191, 'account_id': 'hana1234', 'dw_date': datetime.date(2024, 3, 24), 'category': '객실수입', 'client': '호텔스넷', 'deposit': 32000000, 'withdrawal': 0, 'description': '객실 매출', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 192, 'account_id': 'hana1234', 'dw_date': datetime.date(2024, 3, 25), 'category': '객실수입', 'client': '호텔스닷컴', 'deposit': 40000000, 'withdrawal': 0, 'description': '객실 매출', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 193, 'account_id': 'hana1234', 'dw_date': datetime.date(2024, 3, 26), 'category': '객실수입', 'client': '호텔스넷', 'deposit': 20000000, 'withdrawal': 0, 'description': '객실 매출', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 194, 'account_id': 'hana1234', 'dw_date': datetime.date(2024, 3, 27), 'category': '객실수입', 'client': '호텔스닷컴', 'deposit': 28000000, 'withdrawal': 0, 'description': '객실 매출', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 195, 'account_id': 'hana1234', 'dw_date': datetime.date(2024, 3, 28), 'category': '객실수입', 'client': '호텔스넷', 'deposit': 28000000, 'withdrawal': 0, 'description': '객실 매출', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 196, 'account_id': 'hana1234', 'dw_date': datetime.date(2024, 3, 29), 'category': '객실수입', 'client': '호텔스닷컴', 'deposit': 25000000, 'withdrawal': 0, 'description': '객실 매출', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 197, 'account_id': 'hana1234', 'dw_date': datetime.date(2024, 3, 30), 'category': '객실수입', 'client': '호텔스닷컴', 'deposit': 28000000, 'withdrawal': 0, 'description': '객실 매출', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 198, 'account_id': 'hana1234', 'dw_date': datetime.date(2024, 3, 31), 'category': '객실수입', 'client': '호텔스닷컴', 'deposit': 35000000, 'withdrawal': 0, 'description': '객실 매출', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 199, 'account_id': 'hana4321', 'dw_date': datetime.date(2024, 3, 21), 'category': '급여', 'client': '종업원급여', 'deposit': 0, 'withdrawal': 180000000, 'description': '종업원급여', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 200, 'account_id': 'hana4321', 'dw_date': datetime.date(2024, 3, 7), 'category': '판매수수료', 'client': '호텔스넷', 'deposit': 0, 'withdrawal': 4300000, 'description': '객실판매수수료', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 201, 'account_id': 'hana4321', 'dw_date': datetime.date(2024, 3, 13), 'category': '판매수수료', 'client': '호텔스넷', 'deposit': 0, 'withdrawal': 4250000, 'description': '객실판매수수료', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 202, 'account_id': 'hana4321', 'dw_date': datetime.date(2024, 3, 19), 'category': '판매수수료', 'client': '호텔스넷', 'deposit': 0, 'withdrawal': 5250000, 'description': '객실판매수수료', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 203, 'account_id': 'hana4321', 'dw_date': datetime.date(2024, 3, 25), 'category': '판매수수료', 'client': '호텔스넷', 'deposit': 0, 'withdrawal': 4400000, 'description': '객실판매수수료', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 204, 'account_id': 'hana4321', 'dw_date': datetime.date(2024, 3, 29), 'category': '판매수수료', 'client': '호텔스넷', 'deposit': 0, 'withdrawal': 2400000, 'description': '객실판매수수료', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 205, 'account_id': 'hana4321', 'dw_date': datetime.date(2024, 3, 7), 'category': '판매수수료', 'client': '호텔스닷컴', 'deposit': 0, 'withdrawal': 7700000, 'description': '객실판매수수료', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 206, 'account_id': 'hana4321', 'dw_date': datetime.date(2024, 3, 13), 'category': '판매수수료', 'client': '호텔스닷컴', 'deposit': 0, 'withdrawal': 5150000, 'description': '객실판매수수료', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 207, 'account_id': 'hana4321', 'dw_date': datetime.date(2024, 3, 19), 'category': '판매수수료', 'client': '호텔스닷컴', 'deposit': 0, 'withdrawal': 4850000, 'description': '객실판매수수료', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 208, 'account_id': 'hana4321', 'dw_date': datetime.date(2024, 3, 25), 'category': '판매수수료', 'client': '호텔스닷컴', 'deposit': 0, 'withdrawal': 4700000, 'description': '객실판매수수료', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 209, 'account_id': 'hana4321', 'dw_date': datetime.date(2024, 3, 29), 'category': '판매수수료', 'client': '호텔스닷컴', 'deposit': 0, 'withdrawal': 2650000, 'description': '객실판매수수료', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 210, 'account_id': 'hana4321', 'dw_date': datetime.date(2024, 3, 3), 'category': '고객용품비', 'client': 'ABC용품사', 'deposit': 0, 'withdrawal': 10900000, 'description': '고객용품비 지출', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 211, 'account_id': 'hana4321', 'dw_date': datetime.date(2024, 3, 10), 'category': '고객용품비', 'client': 'ABC용품사', 'deposit': 0, 'withdrawal': 21000000, 'description': '고객용품비 지출', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 212, 'account_id': 'hana4321', 'dw_date': datetime.date(2024, 3, 17), 'category': '고객용품비', 'client': 'ABC용품사', 'deposit': 0, 'withdrawal': 23300000, 'description': '고객용품비 지출', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 213, 'account_id': 'hana4321', 'dw_date': datetime.date(2024, 3, 24), 'category': '고객용품비', 'client': 'ABC용품사', 'deposit': 0, 'withdrawal': 22000000, 'description': '고객용품비 지출', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 214, 'account_id': 'hana4321', 'dw_date': datetime.date(2024, 3, 29), 'category': '고객용품비', 'client': 'ABC용품사', 'deposit': 0, 'withdrawal': 14100000, 'description': '고객용품비 지출', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 215, 'account_id': 'hana4321', 'dw_date': datetime.date(2024, 3, 19), 'category': '수도광열비', 'client': '수도광열비', 'deposit': 0, 'withdrawal': 48800000, 'description': '수도광열비 등', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 216, 'account_id': 'hana4321', 'dw_date': datetime.date(2024, 3, 24), 'category': '노무용역비', 'client': '노무용역사', 'deposit': 0, 'withdrawal': 195200000, 'description': '노무용역비', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 217, 'account_id': 'hana4321', 'dw_date': datetime.date(2024, 3, 10), 'category': '세금과공과', 'client': '세금과공과', 'deposit': 0, 'withdrawal': 97600000, 'description': '세금과공과', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 218, 'account_id': 'hana4321', 'dw_date': datetime.date(2024, 3, 3), 'category': '기타영업비용', 'client': 'A사', 'deposit': 0, 'withdrawal': 19000000, 'description': '영업비용A', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 219, 'account_id': 'hana4321', 'dw_date': datetime.date(2024, 3, 10), 'category': '기타영업비용', 'client': 'B사', 'deposit': 0, 'withdrawal': 24000000, 'description': '영업비용B', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 220, 'account_id': 'hana4321', 'dw_date': datetime.date(2024, 3, 17), 'category': '기타영업비용', 'client': 'A사', 'deposit': 0, 'withdrawal': 19000000, 'description': '영업비용C', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 221, 'account_id': 'hana4321', 'dw_date': datetime.date(2024, 3, 24), 'category': '기타영업비용', 'client': 'C사', 'deposit': 0, 'withdrawal': 16000000, 'description': '영업비용D', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}, {'id': 222, 'account_id': 'hana4321', 'dw_date': datetime.date(2024, 3, 29), 'category': '기타영업비용', 'client': 'C사', 'deposit': 0, 'withdrawal': 16000000, 'description': '영업비용E', 'created_at': datetime.datetime(2024, 4, 15, 10, 27, 23), 'deleted_at': None}]

### 2-3. ChatGPT 활용하기

![openpyxl 질의](./image/openpyxl_엑셀데이터읽기7.png)

![openpyxl 질의](./image/openpyxl_엑셀데이터읽기8.png)

![openpyxl 질의](./image/openpyxl_엑셀데이터읽기9.png)