# [ 5-2. 프로그램 활용 예시 ]

## 1. 데이터 INSERT 하기
### 1-1. INSERT 엑셀 파일에 데이터 입력
* "INSERT_FCHotel_cashflow.xlsx" 파일에 INSERT 하고자 하는 데이터 입력
![main함수활용](./image/main함수_활용1.png)

### 1-2. main 함수 실행 및 INSERT 함수 실행

In [2]:
%run main.py

Insert or select cashflow data.
Choose one.
1. Insert cashflow data(INSERT_FCHotel_cashflow.xlsx)
2. Select data

```
>>> 1
```

## 2. 데이터 SELECT 하기
### 2-1. SELECT 쿼리문 작성
> JOIN한 데이터에서 필요한 컬럼 추출하는 쿼리문
```
SELECT 	
    a.account_id, a.bank_name, a.account_number, a.account_alias, 
    c.dw_date, c.category, c.client, c.deposit, c.withdrawal, 
    c.description
FROM accounts_info a	
JOIN cashflow_tbl c ON a.account_id = c.account_id;	
```

### 2-2. main함수 실행 및 SELECT 함수 실행

In [3]:
%run main.py

Insert or select cashflow data.
Choose one.
1. Insert cashflow data(INSERT_FCHotel_cashflow.xlsx)
2. Select data

```
>>> 2

query > SELECT 	
    a.account_id, a.bank_name, a.account_number, a.account_alias, 
    c.dw_date, c.category, c.client, c.deposit, c.withdrawal, 
    c.description
FROM accounts_info a	
JOIN cashflow_tbl c ON a.account_id = c.account_id;	

xlfilename > data_select_joined1.xlsx
```